<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Reversi Game</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Reversi Game</h1>
        </div>
        <div class="game-container">
            <div class="board-container">
                <div class="board" id="board"></div>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>