<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Reversi Game</title>
</head>
<body class="theme-classic">
    <div class="container">
        <div class="header">
            <h1>Reversi Game</h1>
            <button onclick="resetGame()">New Game</button>
            <select id="difficulty" onchange="setDifficulty()">
                <option value="easy">Easy AI</option>
                <option value="medium" selected>Medium AI</option>
                <option value="hard">Hard AI</option>
            </select>
            <select id="theme" onchange="changeTheme()">
                <option value="theme-classic">Classic</option>
                <option value="theme-forest">Forest</option>
                <option value="theme-cafe">Cafe</option>
                <option value="theme-obsidian">Obsidian</option>
                <option value="theme-sakura">Sakura</option>
                <option value="theme-fruit">Fruit</option>
                <option value="theme-paper">Paper</option>
                <option value="theme-arctic">Arctic</option>
                <option value="theme-earth">Earth</option>
            </select>
        </div>
        <div class="game-container">
            <div class="board-container">
                <div class="board" id="board"></div>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>